<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Memories</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <li class="nav-item">
          <a href="/users/logout" class="nav-link">Logout</a>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
            id="navbarDropdownMenuLink">{{user.name}}</a>
          <div class="dropdown-menu">
            <a href="/posts/feed" class="dropdown-item">Feed</a>
            <a href="/posts" class="dropdown-item">Profile</a>
            <a href="/posts/add" class="dropdown-item">New Post</a>
          </div>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="/users/login" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>