nav {
  border-bottom: 1px solid #ddd;
  margin-bottom: 5vh;
}
footer {
  display: block;
  text-align: center;
  padding: 10vh;
}
.details {
  margin-bottom: 10vh;
}
.photo {
  margin: 0 auto;
  display: block;
}
.img{
  border-radius: 5px;
  max-width: 768px;
  max-height: 600px;
  width: 40vw;
}
.photogrid {
  max-width: 970px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  margin: 0 auto;
  border-top: 1px solid #ddd;
  padding-top: 5vh;
}
.photogrid > div > a > img {
  width: 100%;
  height: 45vh;
}
@media screen and (max-width: 768px){
  .photogrid{
     width: 100%;
     grid-gap: 5px;
  }
  .photogrid > div > a > img {
     height: 28vh;
  }
}